@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b0c4de;
    font-family: 'Londrina Solid', sans-serif;
    color: yellow;
}

h1 {
    font-family: 'Rubik Doodle Shadow', system-ui;
    color: yellow;
}

.colorMode,
.res {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    min-width: 505px;
    max-height: 30px;
}

#resetButton {
    margin-left: auto;
    background-color: rgba(198, 65, 65, 0.597);
}

#resetButton:hover{
    background-color: rgb(198, 65, 65);
}


button {
    font-family: 'Londrina Solid', sans-serif;
    margin: 0 0.5rem;
    color: yellow;
    background-color: #b0c4de;
    border-radius: 7px;
    padding: 0 1rem;
}

button:hover {
    background-color: #8295ae;
}

.container {
    width: 500.5px; /*0.5px added because border creates additional space to divs*/
    height: 500.5px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid yellow;
    border-radius: 7px;
}

.container>div {
    width: calc(100% / 16);
    height: calc(100% / 16);
    border: 1px solid rgba(250, 246, 12, 0.392);
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: yellow;
}